<div class="my-5">
  <%= label_tag field_id, @label, class: "block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2" %>

  <%= tag.input(**field_html_options, type: @type, name: @name, value: (@type == "password" ? nil : @value)) %>

  <% if error? %>
    <p id="<%= error_id %>" class="mt-2 text-sm font-medium text-red-600 dark:text-red-400">
      <%= @error_message %>
    </p>
  <% end %>
</div>
